* {
    margin: 0;
}


.nav-bar {


    &__list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        &__items {
            margin-bottom: 0.5rem;
        }
        
        &__items:nth-child(2) {
            width: 100%;
        }

        &__items:nth-child(3) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__search-box {
        width: 98%;
        height: 3rem;
        border-radius: 4px;
        border: 2px solid #efefef;
        outline: none;
    }

    &__search-box::placeholder {
        padding-left: 3rem;
    }

    &__icon--search {
        position: absolute;
        top: 4.5rem;
        left: 2rem;
    }


    &__upload-btn {
        height: 3rem;
        width: 78%;
        border-radius: 4px;
        border: 2px solid #0095ff;
        outline: none;
        background-color: #0095ff;
        color: white;
        text-transform: uppercase;
    }


    &__avatar{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
    }
    
}



.hero-container {

    &__image {

        filter: grayscale(0.5);
        width: 100%;
        height: 11.5rem;
        object-fit: cover;

        @media screen and (min-width: 426px) {
            height: 25rem;
            object-fit: cover;
        }

        @media screen and (min-width: 1025px) {
            height: 41.9rem;
            object-fit: cover;
        }
    }
}